
/* Start Admin */
/* Start List */
.admin-list{
  .club-img{
    width: 57px;
    height: 68px;
    margin: auto;
    display: block;
  }
  .btn-danger i {
    display: block;
    margin: -6px;
  }
  .btn-warning i {
    display: block;
    margin: 9px;
  }
  .badge {
    min-width: 55px;
  }
}
