
/* Start Company */
/* Start List */
.company-list{
  .company-img{
    width: 57px;
    height: 37px;
    margin: auto;
    display: block;
    border-radius: 0;
  }
  .btn-danger i {
    display: block;
    margin: -6px;
  }
  .btn-warning i {
    display: block;
    margin: 9px;
  }
  .badge {
    min-width: 55px;
  }
}